/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilos para o cabeçalho */
header {
  background-color:rebeccapurple;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
    text-align: center;
    color: honeydew;
}

/* Estilos para o conteúdo principal */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  color: #fff;
}

.product {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}

.product img {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.product-info {
  flex: 1;
  color: honeydew;
}

.product-title {
  font-size: 20px;
  margin: 0 0 10px;
  color: honeydew;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: honeydew;
}

.product-description {
  margin-bottom: 10px;
  color: honeydew;
}

.product-button {
  background-color: #fff700;
  color: #aa00ff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

/* Estilos para o rodapé */
footer {
  background-color:rebeccapurple;
  color: #fff;
  padding: 20px;
  text-align: center;
}
